@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

body
{
  font-family: 'Odibee Sans', ;
  margin:0;
  background-color:lightblue;
}
.nav a
{background-color: darkkhaki;
  margin:10px;
  margin-top:20px;
  padding:10px;
}
.nav {margin-top:20px;
}
   
  .header {
    background-color: plum;
    top: 0;
    width: 100%;
    font-size: 32px;
    padding-top: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 20px;
    text-align: center;
    z-index: 10;
}

img{
  width:100px;
}
